apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: history-tls
  namespace: "{{ns}}"
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host("{{dns}}") && PathPrefix("/backend/history")
      kind: Rule
      services:
        - name: history-service
          port: 8083
          namespace: "{{ns}}"
  tls:
    certResolver: le


---

apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: history-notls
  namespace: "{{ns}}"
spec:
  entryPoints:
    - web
  routes:
    - match: Host("{{dns}}") && PathPrefix("/backend/history")
      kind: Rule
      middlewares:
        - name: test-redirectscheme
      services:
        - name: history-service
          port: 8083
          namespace: "{{ns}}"


---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: auth-tls
  namespace: "{{ns}}"
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host("{{dns}}") && PathPrefix("/backend/auth")
      kind: Rule

      services:
        - name: auth-service
          port: 8081
          namespace: "{{ ns }}"
  tls:
    certResolver: le

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: auth-notls
  namespace: "{{ns}}"
spec:
  entryPoints:
    - web
  routes:
    - match: Host("{{dns}}") && PathPrefix("/backend/auth")
      kind: Rule
      middlewares:
        - name: test-redirectscheme
      services:
        - name: auth-service
          port: 8081
          namespace: "{{ ns }}"
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: convert-tls
  namespace: "{{ns}}"
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host("{{dns}}") && PathPrefix("/backend/convert")
      kind: Rule
      services:
        - name: convert-service
          port: 8082
          namespace: "{{ns}}"

  tls:
    certResolver: le

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: convert-notls
  namespace: "{{ns}}"
spec:
  entryPoints:
    - web
  routes:
    - match: Host("{{dns}}") && PathPrefix("/backend/convert")
      kind: Rule
      middlewares:
        - name: test-redirectscheme
      services:
        - name: convert-service
          port: 8082
          namespace: "{{ns}}"


---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: cbr-ui-tls
  namespace: "{{ns}}"
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host("cbr-frontend.cptmutchell.xyz") && PathPrefix("/")
      kind: Rule
      services:
        - name: cbr-ui-service
          port: 80
          namespace: "{{ns}}"

  tls:
    certResolver: le

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: cbr-ui-notls
  namespace: "{{ns}}"
spec:
  entryPoints:
    - web
  routes:
    - match: Host("cbr-frontend.cptmutchell.xyz") && PathPrefix("/")
      kind: Rule
      middlewares:
        - name: test-redirectscheme
      services:
        - name: cbr-ui-service
          port: 80
          namespace: "{{ns}}"

